button {
    border: none;
    background: none;
    cursor: pointer;
}

button img {
    border-radius: 50%;

    &:hover{
        transform: scale(1.2);
        box-shadow: 0 0 20px #D9D9D9;
    }
}

@media(max-width: 769px){
    button img{
        max-width: 70px;
    }
}

@media(max-width: 430px){
    button img{
        max-width: 50px;
    }
}