ul {
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: orange;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 172px;
    align-items: center;
    
    gap: 15px;

    background: rgba(0,0,0, 0.3);
}

@media(max-width: 769px){
    ul{
        flex-direction: row;
        align-items: flex-end;
        z-index: 4;
        top: -40px;
        width: 100%;
    }
}

@media (max-width: 430px){
    ul{
        padding: 20px;
        top: -20%;
    }
}